
@tailwind base;
@tailwind components;
@tailwind utilities;



:root {


/*colors */
--neutral90 : #272728; /*primary text*/
--neutral80 : #3e3e40; /*Icons, text on label button*/
--neutral70 : #575758; /*secondary text*/
--neutral50 : #868687; /*tab bar/inactive icons & text*/
--neutral30 : #b7b7b8; /*disabled text, disabled icons*/
--neutral20 : #cfcfcf; /*divider on secondary surface, outline pressed element*/
--neutral10 : #e7e7e8; /*secondary surface, divs on primary surface*/
--neutral00 : #fff  ; /*white, primary surface*/


--primary-color: hsl(210, 60%, 50%); /* Base color */

--primary-color20: hsla(var(--primary-color), 0.2);
/* Lighter Shades */
--primary-color-tint-1:   hsl(210, 60%, 30%); /* 10% lighter */
--primary-color-tint-2: hsl(210, 60%, 70%); /* 20% lighter */
--primary-color-tint-3: hsl(210, 60%, 80%); /* 30% lighter */

/* Darker Shades */
--primary-color-shade-1: hsl(210, 60%, 40%); /* 10% darker */
--primary-color-shade-2: hsl(210, 60%, 30%); /* 20% darker */
--primary-color-shade-3: hsl(210, 60%, 20%); /* 30% darker */



  /* Base ancient green color */
  --ancient-green: hsl(91, 89%, 36%); /* #27a50a */

  /* Tints (lighter) */
  --ancient-green-tint-1: hsl(91, 89%, 46%); /* 10% lighter */
  --ancient-green-tint-2: hsl(91, 89%, 56%); /* 20% lighter */
  --ancient-green-tint-3: hsl(91, 89%, 66%); /* 30% lighter */

  /* Shades (darker) */
  --ancient-green-shade-1: hsl(91, 89%, 26%); /* 10% darker */
  --ancient-green-shade-2: hsl(91, 89%, 16%); /* 20% darker */
  --ancient-green-shade-3: hsl(91, 89%, 6%);  /* 30% darker */




/*layout */

--width-lg : 85%;
--width-sm : 95%;
--width-max : 1920px;
--p-container : 1rem;

--shadow : var(--primary-color-tint-1);



/*gap */

--small-gap: 1em;
--large-gap: 2em;
--extra-large-gap: 3em;





  --foreground-rgb: 255, 125, 7;
  --ancient-gold1000: #ff7d07;
  --backgroundColor: #031e3b;
  --font-color-end: #ffe601;
  --ancient-gold : #ebeb10;
  --ancient-gold25 : rgba(255, 230, 1, .25);
  --ancient-gold40 : rgba(255, 230, 1, .4);
  --ancient-gold60 : rgba(255, 230, 1, .6);
 

  --ancient-blue :  #190059;
  --ancient-blue25 :  rgba(2, 1, 56, .25);
  --ancient-blue40 :  rgba(2, 1, 56, .4);
  --ancient-blue60 :  rgba(2, 1, 56, .6);

  --font-color : #212121;
 

}

@media (prefers-color-scheme: dark) {
  :root {
    --background-start-color: var(--primary-color-shade-3);
    --background-end-color : var(--ancient-green-shade-3); 
    --font-color : #f2f2f2;
    --font-color70 : rgba(255,255,255, .7);
    --font-color80:  rgba(255,255,255, .8);
    --shadow : var(--primary-color-tint-1)
    


  }
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-color : var(--neutral20);
    --background-start-color: rgb(255, 255, 255);
    --background-end-color : rgb(255, 255, 255); 
    --font-color : #1c1c1c;
    --font-color80 : rgba(0,0,0, .8);
    --shadow: rgba(0,0,0, .2)
    




  }
}

html {
  scroll-behavior: smooth;

}

.smallHeading{
 @apply tracking-wider font-medium uppercase text-xs text-[--font-color70]
}

.heading {
  @apply text-2xl tracking-wide font-semibold mt-1 ;
}



.paragraph {
  @apply text-[--font-color80] tracking-wide;
}

.gradient {
  @apply bg-gradient-to-r from-[--font-color] via-[--ancient-gold] to-[--font-color] text-transparent bg-clip-text
}



/* loading css */
.svgLoader {
  font-size: 5rem;
  stroke-width: 2;
}

.text-body {
  stroke: var(--font-color);
  animation: 4s infinite alternate animate-stroke;
}

/* end loading css*/


/* hero content */
.content {
  position: relative;
}

.content h2 {
  position: absolute;
  transform: translateY(50%);

}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 1px var(--font-color);
}

.content h2:nth-child(2) {
  color: #03a9f4;
  animation: animate 3s ease-in-out infinite;
}

.stroke {
  color: transparent;
  -webkit-text-stroke: 1px #ffe601;
}




/* two left and right box */
.container {
  position: absolute;
  height: 1rem;
  width: 1rem;
  bottom: 5em;
  z-index: -10;
  border-radius: .1rem;
  background: #969f14;
  box-shadow: 20px 20px 0px #3e4108,
    -20px -20px 0px #bcc62b;
}

.boxContainerRight {
  right: 30px;
}

.boxContainerLeft {
  left: 30px;

}


/* end hero section */


/* footer css */
/* logo animation */
.move {
  position: relative;
  animation-name: moveObj;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  overflow: hidden;
}

/* footer end */


@media(prefers-reduced-motion: no-preference) {

  /* loading animation */
  @keyframes animate-stroke {
    0% {
      fill: transparent;
      stroke: var(--font-color-end);
      stroke-width: 3;
      stroke-dashoffset: 25%;
      stroke-dasharray: 10px 32%;

    }

    50% {
      fill: transparent;
      stroke: var(--font-color-end);
      stroke-width: 3;
    }

    80%,
    100% {
      fill: var(--font-color);
      stroke: transparent;
      stroke-width: 0;
      stroke-dashoffset: -25%;
      stroke-dasharray: 32% 0;

    }
  }



  /* water animation --Hero Section */
  @keyframes animate {

    0%,
    100% {
      clip-path: polygon(0% 45%,
          16% 44%,
          33% 50%,
          54% 60%,
          70% 61%,
          84% 59%,
          100% 52%,
          100% 100%,
          0% 100%);
    }

    50% {
      clip-path: polygon(0% 60%,
          15% 65%,
          34% 66%,
          51% 62%,
          67% 50%,
          84% 45%,
          100% 46%,
          100% 100%,
          0% 100%);
    }
  }



  /* footer logo animation: ; */
  @keyframes moveObj {
    0% {

      left: 0%;
    }

    100% {

      left: 10%;

    }
  }

  .aboutCard {
    transform: translateY(0);
  }
  .servicesCard{
    transform: translateY(0);

  }

}



@keyframes fadeUp {
  0% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.fadeUp {
  opacity: 0;
  animation: fadeUp 1s ease-out forwards;
}

