/* navbar */




/* hero section */

.heroIcon {
    @apply p-2 bg-transparent  border border-[--ancient-gold] transition-all duration-300 rounded-full text-white
  }

  .heroIcon:hover, 
  .heroIcon:focus{
    @apply bg-[--ancient-gold25] shadow-md shadow-[--primary-color-tint-2]
  }


  /* hero section end */

  /* about section */
  
  .aboutCard{
    @apply flex flex-col p-5 gap-5 w-full md:w-fit items-center justify-between border border-[--primary-color] hover:border-[--ancient-gold] transition-all duration-500 rounded-md shadow-md hover:shadow-lg shadow-[--shadow] bg-gradient-to-br  from-blue-400/80 dark:from-blue-400/20  to-[--ancient-gold] dark:to-transparent

  }

  .aboutCard .icon{
    @apply h-[6rem] hover:bg-[--ancient-gold25] focus:bg-[--ancient-gold25] aspect-square rounded-full flex justify-center items-center border border-[--primary-color] text-[--primary-color]
  }
  .aboutCard h1 {
        @apply   text-center inline-block dark:text-white  text-xl font-semibold w-[200px] tracking-wide
  }

  /* about section end */


  /* services */
  /* services section */
.servicesContainer {
    display: grid;
    grid-gap: 2rem;
    align-items: stretch;
    grid-template-columns: 1fr 1fr;
  }


  
  @media only screen and (max-width:1200px) {
    .servicesContainer {
      grid-template-columns: 1fr;
    }
  }

  /* services end */

  /* contact section */

  .contactIcon{
    @apply h-[3rem] w-[3rem] rounded-full flex items-center justify-center bg-[--ancient-gold25] text-[--font-color70] hover:bg-[--ancient-gold60] transition-all duration-300
  }

  .formInput{
    @apply p-2 w-full border border-gray-300 rounded-md bg-transparent outline-none text-sm
  }

  



  
/*our partners -- flip card section */
.flip-card {
  background-color: transparent;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 5px 9px 0 rgba(227, 222, 222, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
}


.flip-card-back {
  transform: rotateY(180deg);

}

/* end flip card */